/*These are the basic stuff copied from index page css*/
body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
  /*overflow: hidden;*/
  background-size: cover;
  background-color: #141d2b;
  background-blend-mode: darken;
  color: white;
}
@font-face {
  font-family: font1;
  src: url('../fonts/demo.ttf');
  color: #679a10 ;
}

 @font-face {
  font-family: font2;
  src: url('../fonts/bold.ttf');

}


* {box-sizing: border-box;}

.title{
  padding-top: 6px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.left a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.nav{

  display: flex;
  height: 70px;
  max-width: 100%;
  background-color: #111927;

}
.left{
  font-family: font1;
  padding-left: 70px;
  font-size: 10.5px;
  flex: 2;
  padding-top: 5px;
  color: #f7f4e9;
}
.right{
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex: 1;
  color: white;
}


/*.button-in-nav1{
  margin-top: -10px;
  margin-left: 500px;
  background-color: #221d24;
  width: 100px;
  border-width: 0px;

}*/

.button-in-nav{
  padding-top: 14px;
  background-color: transparent;
  background-blend-mode: lighten;
  backface-visibility: 100%;
  width: 100px;
  border-width: 0px;
  color: white;
  height: 40px;
  /*border-width: 10px ;*/
  /*border-color: white;*/

}
.button-in-nav:hover{
    border-bottom: 3.5px solid #4ad7d1;
}

/*main para ma mathi gap chodeko */
.main-body{
  /*padding-top: 150px;*/
  /*background-color: black;*/
  /*background:rgba(0,0,0,0.5);*/
  width: 1000px;
  /*border-radius: 20px;*/
  margin: 10px 150px;
  /*height: 86.5vh;*/
}
a{
  text-decoration: none;
}


/* this is for the heading aka cybersecurity */
.heading{
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  padding-top: 20px;
  font-family: font1 ;
}



form{
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}




iframe{
  /*creating 16:9 ratio*/
  width: 800px;
  height:450px;

}
.video{
  text-align: center;
}

img{
  width: 800px;
  height:450px;


}

.img{
  text-align: center;
  margin-bottom: 30px;
}

hr{
  size: 4;
  background-color: white;
}


ul{
  color: purple;
  font-size: 15px;
}

input{
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border-width: 0px;
}


textarea{
  height:90px;
  width: 400px;
  border-radius: 5px;
  border-width: 0px;

}

legend{
  text-align: center;
  align-content: center;
  padding-left: 100px;
}

.main-body button{
  margin: 0px;
  text-align: center;
  width: 400px;
  height: 30px;
  background-color: #3cbcc3;
  transition: transform .1s; 
  font-size: 15px;
  color: white;
  border-radius: 9px;
  border-width: 0px;
}


input:focus,textarea:focus{
  outline: none;
}




.theme{
  background-color: #111927;
}
.inside {
  display: none;

  margin-top: 21px;
  /*position: absolute;*/
  background-color: #111927;

  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.theme:hover .inside {
  display: block;
}

.inside button{
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: #111927;
  color: white;
  font-weight: normal;
  padding: 0px;
  border-width: 0px;
  /*font-size: ;*/
}


.inside button:hover{
  background-color:#141d2b ;
}

.trans{
    transition:10s;

}

.dropdown {
  width:  200px;
}
#trans{
  border-bottom: 3.5px solid transparent;

}
#trans:hover{
  border-bottom: 3.5px solid #3cbcc3;

}