body{
  background-image: url('../images/bg.jpg');
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-size: cover;
  background-color: #352a3a;
  background-blend-mode: darken;
}
 @font-face {
  font-family: font1;
  src: url('demo.ttf');
}

 @font-face {
  font-family: font2;
  src: url('bold.ttf');
}
*{
  color: white;
}

* {box-sizing: border-box;}

.title{
	padding-top: 6px;
}
.nav{

	display: flex;
	height: 70px;
	overflow: hidden;
	max-width: 100%;

}
.left{
  font-family: font1;
  padding-left: 70px;
  font-size: 14px;
  flex: 2;
}
.right{
	padding-top: 10px;
	padding-left: 10px;
	display: flex;
  flex: 1;
	
}


/*.button-in-nav1{
	margin-top: -10px;
	margin-left: 500px;
  background-color: #221d24;
  width: 100px;
  border-width: 0px;

}*/

.button-in-nav{
	margin-top: -10px;
  background-color: transparent;
  background-blend-mode: lighten;
  backface-visibility: 100%;
  width: 100px;
  border-width: 0px;



}

.search{
  height: 30px;
  margin-top: 10px;
  color: black;

}

.search1{
  height: 32px;
  margin-top: 9px;
  color: black;
}

.article{
  display: flex;
  padding-top: 50px;
  padding-right: 10px;
}


.art1{
  flex: 4;
  padding-left: 100px;
  font-size: 25px;
  font-family: font2;

}

.art2{
  flex: 4;
  padding-top: 50px;
  display: block;


}
.fav{
  height: 300px;
  width: 600px;
}





p{
  display: flex;
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
  border-radius: 1px;
  border-color: #221d24;

}
.pages button{
  text-align: center;
  width: 220px;
  height: 100px;
  background-color: #00bbd8;
  transition: transform .1s; 
  font-size: 15px;
}

.pages button:hover{
  transform: scale(1.1);
}
.pages{
  display: inline-block;
}

.pages a{
  text-decoration: none;
}

.right a{
  padding-top: 15px;
}